<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="r6Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <r6Launcher.Properties.Settings>
            <setting name="OperationAdd" serializeAs="String">
                <value>Y1S0 Vanilla
Y1S1 Black Ice
Y1S2 Dust LIne
Y1S3 Skull Rain
Y1S4 Red Crow
Y2S1 Velvet Shell
Y2S2 Health
Y2S3 Blood Orchid
Y2S4 White Noise
Y3S1 Chimera
Y3S2 Para Bellum
Y3S3 Grim Sky
Y3S4 Wind Bastion
Y4S1 Burnt Horizon
Y4S2 Phantom Sigh
Y4S3 Ember Rise
Y4S4 Shifting Tides
Y5S1 Void Edge
Y5S2 Steel Wave
Y5S3 Shadow Legacy
Y5S4 Neon Dawn
Y6S1 Crimson Heist
Y6S2 North Star
Y6S3 Crystal Guard
Y6S4 High Calibre</value>
            </setting>
            <setting name="OperationSelect" serializeAs="String">
                <value />
            </setting>
        </r6Launcher.Properties.Settings>
    </userSettings>
</configuration>